# Binaries
etc-scraper-linux
etc-scraper.exe
*.exe
*.bin

# Downloads
downloads/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Temp docs
docs/tmp/

# Credentials
p2p_credentials.env

# Release zips
*.zip

# Misc
nul
